<style>

#indexbg { background-image: url("emily1.jpg");
			height:100%;
				width:100%;
					background-repeat:no-repeat;
						background-attachment:fixed;
							background-size:cover}
p {color:red;}

</style>