
@font-face {font-family: helvet;
				src:url(helvconlight.otf)}


@font-face {font-family: uncon;
				src:url(uncon.ttf)}

@font-face {font-family: sportsjersey;
				src:url( sportsjersey.ttf)}

@font-face {font-family: rurable;
				src:url( rurable.ttf)}

@font-face {font-family: registration;
				src:url( registration.ttf)}

@font-face {font-family: primetime;
				src:url( primetime.ttf)}

@font-face {font-family: paragon;
				src:url( paragon.ttf)}

@font-face {font-family: lacomp;
				src:url( lacomp.ttf)}

@font-face {font-family: uncon;
				src:url( uncon.ttf)}

@font-face {font-family: code;
				src:url( code.otf)}

@font-face {font-family: japan;
				src:url( japan.ttf)}

@font-face {font-family: sciencefair;
				src:url( sciencefair.otf)}

@font-face {font-family: neutron;
				src:url( neutron.otf)}

@font-face {font-family: rounded;
				src:url( rounded.ttf)}

@font-face {font-family: mike;
				src:url( mike.ttf)}					

#mainbg {background-image: url("francisbacon.jpg");
			height:100%;
				width:100%;
					background-repeat:no-repeat;
						background-attachment:fixed;
							background-size:cover}

#mainbg1 {background-image: url("jkoons.jpg");
			height:100%;
				width:100%;
					background-repeat:no-repeat;
						background-attachment:fixed;
							background-size:cover;
								}

#mainbg2 {background-image: url("piggybank.gif");
			height:100%;
				width:100%;
					background-repeat:no-repeat;
						background-attachment:fixed;
							background-size:cover;
								}

#navig {position:fixed;
			margin-left:-35px;
				z-index: 30;
					width:100px;}

.tab {z-index:30;
		margin-left:0px;
				width:80%;
					margin-top:-22px}

ul {list-style-type: none;display:inline-block;}


#ddown {width:4%;
			height:4%;}

#mstate { width:700px;
			height:250px;
				background-color: rgba(102, 102, 102, .85);
					float:left;
						padding:5px;
							margin-top: 10px;
								z-index:1;
									opacity: 1;}

#statefo { margin-left:5px;
				padding-left:0px;
					margin-top:5px;
						padding-top:10px;
							display:inline;
								color:white;
									font-family: helvet;
										font-size: 18px;
											float:left;
												word-spacing: 3px}

#afaheader {width:40%;
				height:40%;
					padding-left:29% ;
						padding-top:1% }

#afaheader1 {width:438px;
				height:162px;
					margin:1% ;
						padding-top:1% }

#afaheader2 {width:35%;
				height:35%;
					margin:1% ;
						padding-top:1%;
							float:left;}

#mainhold{position: absolute;
				clear:both;}

#mainhold2{position: absolute;
				clear:both;
					margin-top:300px;}

#ptart { background-color: rgba(102, 102, 102, .5);
			width:450px;
					height:900px;
						padding:00px;
						float:left;
							/*position:absolute;*/
								margin:20px;
							}

#ptart2 { background-color: rgba(102, 102, 102, .5);
			width:300px;
					height:900px;
						float:left;
						text-align: left;
								margin:20px;
								padding:0px;
							}

#ptart3 { background-color: rgba(102, 102, 102, 1);
			width:0px;
					height:0px;
						float:left;
							text-align: left;
								margin:0px;
									padding:0px;
								
							}

#ptart4 { background-color: rgba(102, 102, 102, .5);
				width:300px;
					height:900px;
						float:left;
							text-align: left;
								margin:20px;
									padding:0px;
							}

#ptart5 { background-color: rgba(102, 102, 102, 1);
			width:0px;
					height:0px;
						float:left;
						text-align: left;
								margin:0px;
									padding:0px;	
							}

#motto {color: #FFB600;
			padding-top: 5%;
				padding-left: 0%;
					font-family: registration;
						font-size: 120px;
							word-spacing: 2px;
								text-align: center;}

.infotitle {color:white;
				margin: 0%;
					text-align:center ;
						margin-top: 10px;
							font-family: helvet;
								font-size: 30px;
									word-spacing: 2px}

#info {color:white;
			margin: 2%;
				text-align:center ;
					font-family: helvet;
						font-size: 20px;
							word-spacing: 2px}

#infob {color:white;
			margin: 2%;
				text-align:center ;
					font-family: helvet;
						font-size: 20px;
							word-spacing: 2px}

#info2a {color:white;
			margin: 10px;
				text-align:left ;
					font-family: helvet;
						font-size: 20px;
							word-spacing: 2px}

#info3a {color:white;
			margin: 10px;
				text-align:left ;
					font-family: helvet;
						font-size: 20px;
							word-spacing: 2px}

#info2 {color:white;
			margin: 2%;
				text-align:left ;
					font-family: helvet;
						font-size: 0px;
							word-spacing: 2px}

#info3 {color:white;
			margin: 2%;
				text-align:left ;
					font-family: helvet;
						font-size: 0px;
							word-spacing: 2px}

#close { height: 0px;
			width: 0px;
				margin-top: 0px;}

#close2 { height: 0px;
			width: 0px;
				margin-top: 0px;}

p {color:black;
		font-family: helvet;
			font-size: 16px;
				word-spacing: 3px}

#piggy {width:5.25%;
			height:5.25%;}

